In [1]:
tup1=() # Empty tuple

In [20]:
tup2=(10,30,60) #tuple of integer numbers

In [6]:
tup4=('one','two','three')

In [2]:
tup3=(10.77,30.66,60.89)

In [4]:
tup3

(10.77, 30.66, 60.89)

In [6]:
tup4=('Asif',25,(50,100),(150,90))

In [8]:
tup4

('Asif', 25, (50, 100), (150, 90))

In [10]:
tup5=('Asif',25,(50,100),(150,90))  # Nested tuples

In [12]:
tup6=(100,'ASif',17.785) # Tuples of  mixed data types.

In [14]:
tup7=('Aisf',25,[50,100],[150,90],{'john','David'},{99,22,33})

In [16]:
len(tup7)

6

### Tuple Indexing ###

In [22]:
tup2[0] #Retreive first element of the tuple

10

In [24]:
tup4[0]

'Asif'

In [26]:
tup4[-1] #Last item of the tuple

(150, 90)

In [28]:
tup5[-1] # Last item of the tuple

(150, 90)

### Tuple Slicing ###

In [31]:
mytuple=('one','three','four','five','six','seven','eight')

In [33]:
mytuple[0:3] #  Return all items 0th to 3rd index Location  excluding the items

('one', 'three', 'four')

In [35]:
mytuple[2:5] # List all items from  2nd  to 5th index location excluding the item

('four', 'five', 'six')

In [37]:
mytuple[2:5] #List all items  from  0th 3 rd    index location excluding the item.

('four', 'five', 'six')

In [39]:
mytuple[:3]

('one', 'three', 'four')

In [41]:
mytuple[:3] #Return first Three items.

('one', 'three', 'four')

In [44]:
mytuple[:3] #Return first three items

('one', 'three', 'four')

In [46]:
mytuple[:3] #Return  first three items

('one', 'three', 'four')

In [48]:
mytuple[:2] #Return  first two items.

('one', 'three')

In [50]:
mytuple[:2]

('one', 'three')

In [52]:
mytuple[-3:] #Return last three items

('six', 'seven', 'eight')

In [54]:
mytuple[-1] #Return last items of tuple

'eight'

In [56]:
mytuple[:] # Return whole tuple

('one', 'three', 'four', 'five', 'six', 'seven', 'eight')

### Remove & change Items ###

In [58]:
mytuple

('one', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [60]:
del mytuple[0] # Tuple are immutable which means we can't DELETE tuple items.

TypeError: 'tuple' object doesn't support item deletion

In [62]:
del mytuple #Deleting entire tuple object is possible.

NameError: name 'mytuple' is not defined

### Loop through a tuple ###

In [64]:
mytuple

NameError: name 'mytuple' is not defined

In [66]:
for i in mytuple:
    print(i)

NameError: name 'mytuple' is not defined

In [68]:
mytuple=('one','three','four','five','six','seven','eight')

In [70]:
for i in mytuple:
    print(i)

one
three
four
five
six
seven
eight

In [72]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'three')
(2, 'four')
(3, 'five')
(4, 'six')
(5, 'seven')
(6, 'eight')

### Count ###

In [74]:
mytuple1=('one','two','three','four','one','two','three')

In [76]:
mytuple1.count('one') # Number of times items "one" ocurred in the tuple.

2

In [78]:
mytuple.count('one')

1

In [80]:
mytuple1.count('two') #Ocurence of  items 'two' in the tuple.

2

In [82]:
mytuple.count('four') #Ocurence of item 'four' in the tuple.

1

### Tuple Membership ###

In [84]:
mytuple

('one', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [86]:
'one' in  mytuple #Check if 'one' exist in the list

True

In [88]:
'ten' in mytuple #Check if 'ten' exist in the list

False

In [90]:
if 'three' in mytuple:
    print('Three is persent in the tuple')
else:
    print('Three is not present in the tuple')

Three is persent in the tuple

In [92]:
if 'eleven' in mytuple:
    print('eleven is persent in the tuple')
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

In [94]:
mytuple

('one', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [96]:
mytuple1.index('one') #Index of first element equal to 'one'

0

### Sorting ###

In [98]:
mytuple2=(43,67,99,12,6,90,67)

In [100]:
sorted(mytuple2) #Return a new sorted list and doesn't change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [102]:
sorted(mytuple2,reverse=True) #Sorted in descending order

[99, 90, 67, 67, 43, 12, 6]