### Python Tuple ###

In [2]:
thistuple={"apple","banna","cherry"}
thistuple

{'apple', 'banna', 'cherry'}

In [4]:
thistuple=("b","d","c","a","e")
thistuple

('b', 'd', 'c', 'a', 'e')

In [6]:
len(thistuple)

5

### Create Tuple with One Item ###

In [8]:
thistuple=("apple")
type(thistuple)

str

In [10]:
thistuple=("apple")
type(thistuple)

str

### Tuple items can be of any data type ###

In [18]:
tuple1=("apple","banna","cherry")
tuple2=(1,5,7,9,3)
tuple3=(True,False,False)

In [20]:
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banna', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [22]:
type(True)

bool

In [26]:
print(type(tuple1))

<class 'tuple'>

### tuple() Consgtructor  ###

In [30]:
# Using  the tuple() method to make  a tuple:
thistuple=tuple(("apple","Orange","Carrot"))
print(thistuple)
print(type(thistuple))

('apple', 'Orange', 'Carrot')
<class 'tuple'>

### Access Tuple Items  ###

In [32]:
thistuple =("apple","banna","cherry")
thistuple

('apple', 'banna', 'cherry')

In [34]:
thistuple[1]

'banna'

In [36]:
thistuple[-1]

'cherry'

In [40]:
thistuple[1][2]

'n'

In [42]:
thistuple=("apple","banna","cherry","orange","kiwi","melon","man")
thistuple

('apple', 'banna', 'cherry', 'orange', 'kiwi', 'melon', 'man')

In [44]:
thistuple[2:5]

('cherry', 'orange', 'kiwi')

In [48]:
thistuple[-5:-1]

('cherry', 'orange', 'kiwi', 'melon')

In [50]:
thistuple[-1:-3]

()

In [52]:
thistuple[-1:-3]

()

### Update Tuples ###

In [54]:
thistuple = ("apple","banna","Orange","Beetroot")

In [56]:
print(thistuple)
type(thistuple)

('apple', 'banna', 'Orange', 'Beetroot')

tuple

In [58]:
# update tuple to list and update the values
newtuple=list(thistuple)
print(newtuple)
print(type(newtuple))

['apple', 'banna', 'Orange', 'Beetroot']
<class 'list'>

In [61]:
newtuple[0]="Kiwi"
print(newtuple)

['Kiwi', 'banna', 'Orange', 'Beetroot']

### Add New item to Tuple ###

In [64]:
tuple1=("Orange","grapes","dragon","berries")
print(tuple1)
print(type(tuple1))

('Orange', 'grapes', 'dragon', 'berries')
<class 'tuple'>

In [66]:
newT=list(tuple1)
print(newT)
print(type(newT))

['Orange', 'grapes', 'dragon', 'berries']
<class 'list'>

In [68]:
newT.append("Programmante")
print(newT)

['Orange', 'grapes', 'dragon', 'berries', 'Programmante', 'Programmante']

In [70]:
type(tuple1)

tuple

In [72]:
type(newT)

list

In [75]:
tuple1=tuple(newT)
print(tuple1)
print(type(tuple1))

('Orange', 'grapes', 'dragon', 'berries', 'Programmante', 'Programmante')
<class 'tuple'>

### Add Tuple to a tuple ###

In [77]:
tuple2=("dog","cat","pet","rose","plant")
tuple2

('dog', 'cat', 'pet', 'rose', 'plant')

In [83]:
newT=("apple")

In [85]:
tuple2=newT+tuple2

TypeError: can only concatenate str (not "tuple") to str

### Remove Items ###

In [100]:

thistuple=("apple","banna","cherry")
y=list(thistuple)
y.remove("apple")
thistuple=tuple(y)
print(thistuple)

('banna', 'cherry')

### Or you can delete the tuple completely: ###

In [102]:
del thistuple

NameError: name 'thistuple' is not defined